<div class="columns is-centered">
  <div class="column is-half">
<h2 class="title has-text-centered pb-4">Login:</h2><hr>
<form class="login-form ">
  <div class="is-size-4">
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div class="is-size-4">
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="button is-dark">Login</button>
    <a href="/signup"><button type="button" class="button is-dark">Signup</button></a>
  </div>
</form>
</div>
</div>

<script src="/javascript/login.js"></script>