<div class="column">
    <h2 class="title pb-4">Login:</h2>
    <form class="login-form">
        <div>
            <label for="emailLogin">Email:</label>
            <input type="text" id="emailLogin"/>
        </div>
        <div>
            <label for="passwordLogin">Password:</label>
            <input type="text" id="passwordLogin"/>
        </div>
        <div>
            <button type="submit" class="button is-primary">Login</button>
            <a href="/signup"><button type="button" class="button is-danger">Signup</button></a>
        </div>
    </form>
</div>
<script src="/javascript/login.js"></script>